body {
  background-color: #fefefe;
  width: 800px;
  margin: auto;
}

h1, h2 {
  color: #3a3a3a;
  font-family: Verdana, "Times New Roman", sans-serif;
}

h1 {
  text-align: center;
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

img {
  display: block;
  margin: auto;
  width: 60%;
  border-radius: 5%;
}

p, li {
  color: #494949;
  font-family: Verdana, "Times New Roman", sans-serif;
  font-size: 20px;
}